@use "../../global" as *;

//================================================================
// 404
//================================================================

.nopage {
    max-width: 1160px;
    width: calc(335 / $design-sp-width * 100vw);
    margin-inline: auto;
    margin-top: 120px;
}

.nopage__top {
    font-size: 72px;
    color: rgba($text-color1,0.5);
}

.nopage__title {
    font-size: 32px;
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom: 3px solid rgba($text-color1,0.5);
}

.nopage__text {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 50px;
}


