@use "../global" as *;

//================================================================
// BASE
//================================================================

html {
  font-size: calc(1 / $design-pc-width * 100vw);
  
  @include mq('sp') {
    font-size: calc(1 / $design-sp-width * 100vw);
  }
}

body {
  color: $text-color;
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: $lh-base;
  letter-spacing: $ls-base;
  
  position: relative;
}

main {
  padding-top: 77rem;

  @include mq('sp') {
    padding-top: 40rem;
  }
}

// 固定ヘッダーの高さ（PC/SP）
:root {
  --header-offset: 77rem;
}
@include mq('sp') {
  :root { --header-offset: 40rem; }
}

/* 同一ページ内 #アンカーへ滑らかに */
html { 
  scroll-behavior: smooth; 
}

/* すべての id へ到達するときにヘッダーぶん余白を確保 */
[id] { 
  scroll-margin-top: var(--header-offset); 
}

//================================================================
// PC
//================================================================

.is-pc {
  @include mq('tab') {
    display: none;
  }
}

//================================================================
// PC  タブレット
//================================================================

.is-pc-tab {
  @include mq('sp') {
    display: none;
  }
}

//================================================================
// PC  スマホ
//================================================================
.is-pc-sp {
  @include mq('pc') {
    display: block;
  }
  @include mq('tab') {
    display: none;
  }
  @include mq('sp') {
    display: block;
  }
}

//================================================================
// タブレット
//================================================================

.is-tab {
  @include mq('pc') {
    display: none;
  }
  @include mq('tab') {
    display: block;
  }
  @include mq('sp') {
    display: none;
  }
}

//================================================================
// タブレット  スマホ
//================================================================
.is-tab-sp {
  @include mq('pc') {
    display: none;
  }
}

//================================================================
// スマホ
//================================================================

.is-sp {
  @include mq('pc') {
    display: none;
  }
  @include mq('tab') {
    display: none;
  }
  @include mq('sp') {
    display: block;
  }
}

//================================================================
// スマホ デザインカンプ以下
//================================================================

.is-dsp {
  @include mq('pc') {
    display: none;
  }
  @include mq('tab') {
    display: none;
  }
  @include mq('dsp') {
    display: block;
  }
}
