
//================================================================
// 変数
//================================================================

// 色
$main-color: #2E7D32; // メインカラー
$sub-color: #FFFFFF; // サブカラー1
$accent-color1: #1B3A57; // アクセントカラー
$accent-color2: #AED581; // アクセントカラー
$text-color1: #3D3D3D; // テキストカラー
$red: #D82E31; // 赤
$gray1: #FAFAFA; // グレー
$gray2: #C4C4C4; // グレー
$green1: #9AC964; // 緑
$green2: #78AD3A; // 緑
$green3: #5B8C24; // 緑
$green4: #477C0D; // 緑
$green5: #386307; // 緑
$link-color: #359DE9; // リンクカラー
$line-color: #06C755; // ラインカラー

// フォント読み込み
@font-face {
  font-family: "DIN Alternate";
  src: url("../fonts/DIN Alternate Regular.otf") format("opentype");
}
@font-face {
  font-family: "Futura Bk BT";
  src: url("../fonts/Futura Bk BT Book.ttf") format("truetype");
}

// フォント
$ff-number1: "DIN Alternate", sans-serif; // 数字1
$ff-number2: "Futura Bk BT", sans-serif; // 数字2
$ff-base: "Noto Sans JP", sans-serif; // 日本語標準
$fz-base: 16rem; // ベースフォントサイズ
$fw-base: 400; // ベースフォントウェイト
$lh-base: 1.2; // ベース行間
$ls-base: 0.05em;

// レイアウト
$design-pc-width: 1440; // デザインカンプPCサイズ
$design-sp-width: 360; // デザインカンプSPサイズ
$inner-width: 1120px; // インナー幅サイズ(デザインカンプPCサイズ)

// ブレークポイント
$pc-width: 1000px; // PCサイズ(以上)
$tab-width: calc(#{$pc-width} - 1px) ; // タブレットサイズ（以下）
$sp-width: 767px; // スマホサイズ（以下）
$dsp-width: calc(#{$design-sp-width} - 1px); // デザインスマホサイズ（以下）
$breakpoints: (
    // デザインカンプspサイズ以下の場合
    "dsp": "screen and (max-width: #{$dsp-width})",
    // スマホ以下の場合
    "sp": "screen and (max-width: #{$sp-width})",
    // タブレット以下の場合
    "tab": "screen and (max-width: #{$tab-width})",
    // タブレット以上の場合
    "pc": "screen and (min-width: #{$pc-width})"
)!default;

// 重なり順の定義
$layer: (
// ローディング
loading: 300,
// モーダル
modal: 100,
// ドロワー
drawer: 40,
// フローティング
floating: 30,
// ヘッダー
header: 20,
// フッター
footer: 10,
default: 1
);