@use "../global" as *;

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: layer(header);
    pointer-events: none;
}

.header__inner {
    position: relative;

    @include mq('sp') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40rem;
        padding-inline: 16rem 19rem;
    }
}

.header__content {
    width: 100%;
    display: flex;
    align-items: start;
    transition: all 0.3s ease;

    @include mq('sp') {
        background: $sub-color;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // gap: 5vh;
        gap: 24rem;
        padding-block: 40rem;
        position: absolute;
        top: 40rem;
        left: 101%;

        // height: calc(100vh - 40rem);
        // height: calc(100vh - 40rem);
        // height: calc(100vh - 40rem);
    }

    &.is-active {
        left: 0;
    }
}

.header__main {
    width: 100%;
    height: 77rem;
    background: $sub-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
    padding-left: 80rem;
    pointer-events: all;

    @include mq('sp') {
        display: contents;
        height: unset;
    }
}

.header__logo {
    width: 126rem;
    height: 29rem;
    display: flex;
    align-items: center;
    padding-inline: 25rem;
    pointer-events: all;

    @include mq('sp') {
        width: 59rem;
        height: 24rem;
        padding-inline: unset;
    }
}

// .header__nav {}
    
.header__menu {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;

    @include mq('sp') {
        flex-direction: column;
        // gap: 3vh;
    }
}

.header__list {
    width: 96rem;
    
    a {
        width: 100%;
        height: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14rem;
        font-weight: 700;
        letter-spacing: $ls-base;
        transition: all 0.3s ease;

        @media(any-hover: hover) {
          &:hover {
            opacity: 0.7;
          }
        }
    }
}

.header__list:not(:last-child) {
    position: relative;

    &::before {
        content: "";
        width: max(1rem,1rem);
        height: 25rem;
        background: $gray2;
        position: absolute;
        top: 0;
        left: calc(100% + 8rem);

        @include mq('sp') {
            display: none;
        }
    }
}

.header__ctaWrap {
    display: flex;
    align-items: start;
    pointer-events: all;

    @include mq('sp') {
        flex-direction: column;
        // gap: 3vh;
        gap: 21rem;
    }
}

.header__cta {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4rem;
        width: 179rem;
        height: 106rem;
        border-radius: 0 0 16rem 16rem;
        border: 2rem solid ;
        font-size: 14rem;
        font-weight: 700;
        letter-spacing: $ls-base;
        transition: all 0.3s ease;

        @include mq('sp') {
            flex-direction: row;
            width: 246rem;
            height: 65rem;
            border-radius: 8rem;
            font-size: 16rem;
            letter-spacing: 0.1em;
            box-shadow: 4rem 4rem 0 0 #005021;
        }
    }

    &.--line a {
        color: $sub-color;
        background: $line-color;
        border-color: $line-color;

        &::before {
            flex-shrink: 0;
            content: "";
            width: 33rem;
            aspect-ratio: 1 / 1; 
            background: url(../img/line-icon.png) no-repeat center center / contain;

            @include mq('sp') {
                width: 18rem;
                margin-top: 3rem;
            }
        }

        @media(any-hover: hover) {
          &:hover {
            color: $line-color;
            background: $sub-color;
          }
        }
    }
    
    &.--mail a {
        background: $sub-color;
        border-color: $accent-color2;

        @include mq('sp') {
            background: $accent-color2;
            line-height: 1;
        }

        &::before {
            flex-shrink: 0;
            content: "";
            width: 22rem;
            aspect-ratio: 22 / 23;
            background: url(../img/mail-icon.svg) no-repeat center center / contain;

            @include mq('sp') {
                width: 18rem;
                background-image: url(../img/mail-icon2.svg);
                margin-top: 3rem;
            }
        }

        @media(any-hover: hover) {
          &:hover {
            background: $accent-color2;
          }
        }
    }
}




//=====================================
// drawer icon
//=====================================

.header__drawer {
    display: none;
    transition: all 0.3s ease 0s;
    pointer-events: all;
    
    @include mq('sp') {
        display: block;
    }

    &.is-active {
        .l-drawer__bar {
            background: #FFF;
        }

        .l-drawer__bar1 {
            transform: translateX(-50%) rotate(-45deg);
            top: 8rem;
        }

        .l-drawer__bar2 {
           width: 0;
        }

        .l-drawer__bar3 {
            transform: translateX(-50%) rotate(45deg);
            top: 8rem;
        }
    }
}

.header__drawerIcon {
    width: 18rem;
    height: 16rem;
    position: relative;
}

.header__drawerBar {
    width: 100%;
    height: 2rem;
    background: $main-color;
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease 0s;

    &.--1 {
        top: 0;
    }
    &.--2 {
        top: 7rem;
    }
    &.--3 {
        top: 14rem;
    }
}

.header__drawer {
    &.is-active {
        rotate: 720deg;

        .--1 {
            transform: translateX(-50%) rotate(-45deg);
            top: 7rem;
        }

        .--2 {
           width: 0;
        }

        .--3 {
            transform: translateX(-50%) rotate(45deg);
            top: 7rem;
        }
    }
}