@use "../global" as *;

//================================================================
// utillty
//================================================================

.u-section {
    padding-block: 80rem;

    @include mq('sp') {
        padding-block: 24rem;
        
    }
}

.u-radius-none {
    border-radius: unset !important;
}